.vertical-menu {
    width: 15%;
    height:100vh;
    position: fixed;
    top:8%;
    background-color: #19212B;
}

.new {
    background-color: #141111;
    color: #dcede6;
    display: list-item;
    padding: 10px;
    text-decoration: none;
}
.hidden
{
        display: none;
}
section{
    height: 128vh;
    margin-left: 15%;
    /*margin-top: 10%;*/
    background-color: #d3d3d3;
}
ul{
    list-style: none;
}

.nav-link{
    text-align: left;
    font-size: 1.2em; 
}
.vertical-menu .header {
    color: #ffffff;
    z-index: 1;
}
.vertical-menu .active a{
    color: #4CB8E9!important;
    z-index: 3;
}
.vertical-menu .sub-menu a{
    color: #BCBFC2;
    transition: all 0.5s;
    z-index: 2;
}

.vertical-menu .sub-menu a:hover,.main-menu{
    background-color: #2B323C;
}



.main-menu{
    box-shadow: inset 0px 0px 2px 0px #BCBFC2;
-moz-box-shadow: inset 0px 0px 2px 0px #BCBFC2;
-webkit-box-shadow: inset 0px 0px 2px 0px #BCBFC2;
}