.vertical-menu {
    width: 300px;
}

.new {
    background-color: #141111;
    color: #dcede6;
    display: list-item;
    padding: 10px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color:#141111;
    color:#0099ff;
}
.hidden
{
        display: none;
}